body {
    font-family: Arial, sans-serif;
}

nav {
    width: 100%;
    height: 60px;
    background: #344051;
}

.logo {
    color: #fff;
    font-size: 28px;
    line-height: 60px;
    padding-left: 200px;
    float: left;
    
}

.menu {
    padding-left: 550px;
}

.menu li {
    float: left;
    line-height: 60px;
    color: #fff;
    margin-right: 40px;
    font-size: 16px;
    text-transform: uppercase;
}

.main {
    width: 100%;
    height: calc(100% - 60px);
    background: url(../img/riska.jpg) left/cover no-repeat;
    background-size: auto auto;
}

.title_container {
    float: left;
    margin: 200px 0px 0px 30px;
    color: black;
    text-align: center;
}

.title_container h1 {
    font-size: 50px;
    font-weight: bold;
}

.title_container h4 {
    margin-top: 20px;
    font-size: 22px;
    color: black;
    font-weight: bold;
}

.title_container input {
    height: 40px;
    text-align: center;
    border: 2px solid black;
    background: none;
    border-radius: 5px;
    color: black;
    font-size: 13px;
    font-weight: bold;
    padding: 0px 16px;
    margin: 20px 14px 0px 14px;
}

.about_me {
    background: 
}

.title {
    text-align: center; 
    color: #263244;
    font-size: 50px;
    font-weight: bold;
    margin-top: 100px;
}

.pic2 {
    border-radius: 50%;
    margin: 50px 0px 0px 570px;
}

.text_about {
    text-align: center;
    font-size: 30px;
    height: 40px;
    color: black;
    margin-top: 50px;
}

.about_me input {
    height: 40px;
    text-align: center;
    border: 2px solid black;
    background: none;
    border-radius: 5px;
    color: black;
    font-size: 13px;
    font-weight: bold;
    padding: 0px 16px;
    margin: 20px 14px 0px 600px;
}

.possibilities .images {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}

.possibilities .paragraphs {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    color: d48d2f;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.possibilities .description {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    color: c7c9cf;
    font-size: 15px;
    text-align: center;
}

.name_project {
    text-align: center;
    font-size: 30px;
    height: 40px;
    color: black;
    margin-top: 50px;
}

.projects .images {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}

.projects .paragraphs {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    color: d48d2f;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.projects .description {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    color: c7c9cf;
    font-size: 15px;
    text-align: center;
}

.pic3 {
    border-radius: 50%;
    margin: 50px 0px 0px 630px;
}